
# Ignore log files
stream_app/

# Ignore all files in the .idea folder and all files in the _pycache_ folder.
.idea/*
__pycache__/*

# Ignore specific files in _pycache_ folder
__pycache__/*.pyc
__pycache__/*.pyo

# Ignore workspace.xml file in .idea folder
.idea/workspace.xml