
# Ignore log files
stream_app/
documentation/nhanes/
.idea/
__pychache__/

# Ignore all files in the .idea folder and all files in the _pycache_ folder.
.idea/*
__pycache__/*

# Ignore specific files in _pycache_ folder
__pycache__/*.pyc
__pycache__/*.pyo

# Ignore workspace.xml file in .idea folder
.idea/workspace.xml
*.pyd
*.pyc
*.xml
*.pyd
*.pyi
.gitattributes
*.pyi
*.pyi
*.config
*.pyc
*.xml
.gitattributes

# Ignore temp_data file for now
temp_data/
temp_data - Copy/.Rhistory
temp_data - Copy/multi_yr_df.csv
temp_data - Copy/test.txt
temp_data - Copy/var_list.csv
temp_data/multi_yr_df.csv
